<h1>Students</h1>
<!-- Testing for making custom routes in index -->
<!-- Custom route to show all Students -->
<!-- Currently not bein used -->
<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>